@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 1rem;
    left: 0;
    right: 0;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 12vw;
}

#side {
    width: 240px;
    /* min-width: 240px; */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

#middle {
    margin-left: 20%;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
}

.summary-container {
    padding: 1.5rem;
    flex: 1;
    /*background: white;*/
    border-radius: 2rem;
    border: 0.1rem solid rgb(180, 180, 180);
    text-align: center;
    height: 15vh;
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.individual-summary-container {
    /*padding: 1em;*/
    flex: 1;
    /*background: white;*/
    border-radius: 2rem;
    background-color: #E5E5E5;
    /*border: 0.1rem solid;*/
    /*text-align: center;*/
    height: 15vh;
    /*margin-left: 15vw;*/
    /*margin-right: 15vw;*/
    margin: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
}

.filter-option {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

button:hover {
    background-color: #0056b3;
}